<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shorten As U Gym{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/global.css') }}">
    </head>
    <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% block body %}{% endblock %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"/>
    </body>
</html>
