{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="title">Good job !</h1>
        <p class="description">
            You've just created a new shortened URL, thanks ! Here's your link :
        </p>

        <div class="show-url">
            <a class="link" href="http://dev.saug.com/{{ short_url }}">{{ short_url }}</a>
        </div>

        <a class="btn" href="/">Create a new one</a>
    </div>
{% endblock body %}
