{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="title">Shorten As U Gym</h1>
        <p class="description">
            Tired of typing all those long urls ? Then fear no more, as we invented "Shorten As U Gym" !<br/>
            Just use the form below, tell us what short set of characters should be redirected to which URL, and we'll
            help you get there !</p>

        <p class="example">
            Example:<br/>
            - Short url : "gogl"<br/>
            - Long url : https://google.co.uk<br/>
            Typing "dev.saug.com/gogl" would lead to "https://google.co.uk"
        </p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <table id="url_list" class="display">
            <thead>
            <tr>
                <th>Shortened url</th>
                <th>Long url</th>
                <th>Hits</th>
                <th>Last access</th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.shorturl }}</td>
                    <td>{{ url.longurl }}</td>
                    <td>{{ url.hits }}</td>
                    <td>
                        {% set last_access = url.access|last %}
                        {{ last_access.date|date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#url_list').DataTable();
        });
    </script>
{% endblock body %}
