@import "reset";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

body {
  backdrop-filter: blur(5px);
  background: url(https://placeimg.com/1000/900/nature/sepia);
  background-size: cover;
}

.container {
  background: $container_white;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  padding: 30px 15px 0;
  width: 768px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  margin: 0 auto;
  max-width: 540px;
  text-align: center;
}

.example {
  color: $color_grey;
  font-size: 11px;
  margin-top: 15px;
  text-align: center;
}

form {
  margin: 25px auto 50px;
  width: 320px;

  label {
    font-size: 12px;
    text-transform: uppercase;
  }

  input {
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.show-url {
  background: $container_white;
  color: $color_blue_aero;
  font-size: 18px;
  margin: 55px auto;
  padding: 10px 25px;
  text-align: center;
  width: 80%;

  .link {
    text-decoration: none;

    &:hover {
      color: $hover_color_blue_aero;
    }
  }
}

.btn {
  background-color: $color_blue_aero;
  color: $color_white;
  display: block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 180px;

  &:hover {
    background-color: $hover_color_blue_aero;
  }
}